

$main-font-family: 'Poppins',sans-serif;
$main-disc-family:'Open Sans',sans-serif;
$main-dark-color:#0B1131;
$main-gray-color:#A0ABB8;
$main-purple:#3029D9;
$btn-padding:10px, 19px;

$main-disc-size:14px;
