@import "./variables.scss";
@import "../style/font.css";
@import "../style/normalize.css";
@import "./menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: $main-font-family;
}
.card {
  background: radial-gradient(50% 50% at 50% 50%, #5975ff 0%, #3029d9 100%);
}


